.calculator
{
	padding: 3px;
}

.display
{
	text-align: right;
	font-size: 100%;
	
	height: 32px;
	margin: 3px;

	border-radius: 3px;
	border-color: white;
	box-shadow: 1px 1px grey;
}

.blue_button
{
	color: white;
	background-color: blue;

	font-size: 70%; 
	font-weight: bold;

	width: 32px;
	height: 32px;
	margin: 3px;

	border-radius: 5px;
	border-style: none;
	box-shadow: 0px 3px rgb(0,0,174);
}

.green_button
{
	color: white;
	background-color: rgb(109, 211, 51);

	font-size: 70%; 
	font-weight: bold;

	width: 32px;
	height: 32px;
	margin: 3px;

	border-radius: 5px;
	border-style: none;
	box-shadow: 0px 3px rgb(0,174,0);
}

.yellow_button
{
	color: white;
	background-color: rgb(255, 180, 51);

	font-size: 70%; 
	font-weight: bold;

	width: 32px;
	height: 32px;
	margin: 3px;

	border-radius: 5px;
	border-style: none;
	box-shadow: 0px 3px rgb(227, 161, 44);
}

.red_button
{
	color: white;
	background-color: red;

	font-size: 70%;
	font-weight: bold;

	width: 100%;
	height: 32px; 
	margin: 3px;

	border-radius: 5px;
	border-style: none;
	box-shadow: 0px 3px rgb(199, 40, 40);
}