.calculator
{
	padding: 3px;
}

.display
{
	text-align: right;
	font-size: 100%;
	
	width: 152px;
	height: 32px;
	margin: 3px;

	border-radius: 3px;
	border-color: white;
	box-shadow: 1px 1px grey;
}

.display:focus
{
	outline: none;
}

.font_button
{
	color: white;
	font-size: 70%;
	font-weight: bold;
}

.button_calc_grid
{
	width: 32px;
	height: 32px;
	margin: 3px;
}

.blue_button
{
	background-color: #2861C7;

	border-radius: 5px;
	border-style: none;
	box-shadow: 0px 3px #244F9D;
}

.blue_button:hover
{
	background-color: #0548B3;
	box-shadow: 0px 3px #043480;
}

.blue_button:focus
{
	outline: none;
}

.blue_button:active
{
	background-color: #0548B3;
	box-shadow: 0px 1px #0548B3;
	transform: translateY(2px);
}

.green_button
{
	background-color: rgb(109, 211, 51);

	border-radius: 5px;
	border-style: none;
	box-shadow: 0px 3px rgb(0,174,0);
}

.green_button:hover
{
	background-color: #4FBE00;
	box-shadow: 0px 3px #038013;
}

.green_button:focus
{
	outline: none;
}

.green_button:active
{
	background-color: #4FBE00;
	box-shadow: 0px 1px #4FBE00;
	transform: translateY(2px);
}

.yellow_button
{
	background-color: #E9C420;

	border-radius: 5px;
	border-style: none;
	box-shadow: 0px 3px rgb(227, 161, 44);
}

.yellow_button:hover
{
	background-color: #E5AD18;
	box-shadow: 0px 3px #BF9117;
}

.yellow_button:focus
{
	outline: none;
}

.yellow_button:active
{
	background-color: #E5AD18;
	box-shadow: 0px 1px #E5AD18;
	transform: translateY(2px);
}

.red_button
{
	background-color: #DE2F24;

	width: 161px;
	height: 32px; 
	margin: 3px;

	border-radius: 5px;
	border-style: none;
	box-shadow: 0px 3px #B82C23;
}

.red_button:hover
{
	background-color: #C1291F;
	box-shadow: 0px 3px #8F170F;
}

.red_button:focus
{
	outline: none;
}

.red_button:active
{
	background-color: #C1291F;
	box-shadow: 0px 1px #C1291F;
	transform: translateY(2px);
}