.header
{
	text-align: center;
	
	padding: 0px;
	width: 25%;

	color: white;
	background-color: #777B6C;

	border-radius: 3px 3px 0px 0px;
}

.compra
{
	width: 50%;

	text-align: center;

	background-color: #CDD5B8; 
	color: #777B6C;
}

.venta
{
	width: 50%;

	text-align: center;

	background-color: #CDD5B8; 
	color: #777B6C;
}
.referencia
{
	text-align: center;

	color: #777B6C;

	width: 100%
}

.valores
{
	width: 50%;

	text-align: center;

	color: #777B6C;
}

.mini_table
{	
	width: 100%;

	background-color: #CDD5B8;
}

.variation 
{
	text-align: center;

	background-color: white;
	color: #777B6C;
}

.update
{
	text-align: center;

	color: white;
	background-color: #777B6C;

	border-radius: 0px 0px 3px 3px;
}